<section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/images/depositphotos_198271314-stock-photo-muscular-man-working-out-gym.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Nuestro propósito</h2>
                            <p class="lead fw-normal text-muted mb-0">
                                Nuestro principal propósito es contar con un lugar donde las personas se puedan ejercitar para mejorar su salud 
                                y practicar distintos tipos de deporte sin importar cual sea su edad, queremos que aparte de ser un lugar para 
                                ejercitarse también cuente con buen ambiente de camaradería.

                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/images/perder-peso-gimnasio.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Nos adaptamos a lo que el cliente desee</h2>
                            <p class="lead fw-normal text-muted mb-0">Siempre es importante escuchar al cliente, nos centramos en complacer las necesidades del cliente,
                                siempre ayudamos a conseguir sus objetivos, ya sea bajar de peso, ganar masa muscular o mejorar su estilo de vida en base a su salud.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--Tercer Cuadro-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/images/Fitness_Gym_Workout_Pose_Barbell_585730_600x400.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Nuestras instalaciones</h2>
                            <p class="lead fw-normal text-muted mb-0">Contamos con equipo completo para que los clientes puedan realizar los entrenamientos que deseen, desde entrenamiento de fuerza hasta entrenamiento cardiovascular, de igual forma contamos 
                                con personal encargado de guíar y ayudar a los clientes a hacer el uso correcto de este equipo.</p>
                        </div>
                    </div>
                </div>
            </section>  
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Nuestro personal</h2>
                        <p class="lead fw-normal text-muted mb-5">Equipo siempre a tu disposición</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/118396319_3693864617309711_6411026873201529485_n.jpg" alt="..." />
                                <h5 class="fw-bolder">Roy Salmerón</h5>
                                <div class="fst-italic text-muted">Entrenador</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/ae5980d2-bf7f-4b22-80f8-6ebda144fb70.jpg" alt="..." />
                                <h5 class="fw-bolder">Efrén Herrera</h5>
                                <div class="fst-italic text-muted">Entrenador</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/s72mssq3f0e71.jpg" alt="..." />
                                <h5 class="fw-bolder">Mayela Araya</h5>
                                <div class="fst-italic text-muted">Administradora</div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>