@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/particulas.css" rel="stylesheet" />
</head>
<body>

    <header class="bg-dark py-1">

        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <div class="border text-center p-2 rounded mb-2 my-5 col-lg-10">
                                  <p class="fw-bolder text-white mb-2">¡ Bienvenido @ViewBag.Usuario !</p>
                            @if (ViewBag.Rol == "1")
                            {
                                <div>
                                    <p class="text-white mb-2">Usted a ingresado con los permisos de Coach Mayor</p>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <p class="text-danger mb-2">Usted a ingresado con los permisos de Coach Menor</p>
                                </div>
                            }
                        </div>
                      

                        <h1 class="display-5 fw-bolder text-white mb-2">Gimnasio Vida y Salud Fitness + Gym</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Un lugar para mejorar tu estilo de vida haciendo ejercicio!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-xxl-5 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="~/images/Portada.png" alt="..." /></div>
            </div>
        </div>
    </header>
    <div>
    <div id="particles-js">
        <div id="clock" style="text-align:center;padding:1em 0;"> <br><br> <h2><a style="text-decoration:none; color:white"; href="https://www.zeitverschiebung.net/es/country/cr"><span style="color:white;">Hora actual en</span><br />Costa Rica</a></h2> <iframe style="color: white" src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=America%2FCosta_Rica" width="100%" height="140" frameborder="0" seamless></iframe> </div>
   </div>
   </div>

</body>



@section Scripts{

    <script src="~/js/particulas/particles.js"></script>
    <script src="~/js/particulas/app.js"></script>
    <script src="~/js/site.js"></script>
    
}





