@model GymVidaYSaludWEB.Entities.UsuariosObj
@{
    ViewData["Title"] = "Registrar Usuario";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymVidaYSaludWEB.styles.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <title>Registrar Usuario</title>


</head>
<body>
    <div class="container">

        <div class="row">

            <div class="col"></div>
            <div class="col">
                <div class="card mt-5 cardLogin">
                    <div class="card-header text-center">
                        Registrar Usuario
                    </div>
                    <div class="card-body">

                        @using (Html.BeginForm("RegistrarUsuario", "Usuario"))
                        {
                            <div class="mb-3">
                                <label class="text-center">Nombre de Usuario</label>
                                @Html.TextBox("NombreUsuario","",
                            new
                            {
                            @class="form-control",
                            required="required",
                            @type="input",
                            })
                            </div>
                            <div class="mb-3">
                                <label class="text-center">Correo</label>
                                @Html.TextBox("Correo","",
                            new
                            {
                            @class="form-control",
                            required="required",
                            @type="input",
                            })
                            </div>
                            <div class="mb-3">
                                <label class="text-center">Contraseña</label>
                                @Html.TextBox("Contraseña","",
                            new
                            {
                            @class="form-control",
                            required="required",
                            @type="input",
                            })
                            </div>
                            <div class="mb-3">
                                <label class="text-center">Rol</label>
                                @Html.DropDownList("Rol",
                            new List<SelectListItem>{
                            new SelectListItem{ Text ="Mayor", Value ="1"},
                            new SelectListItem{ Text ="Menor", Value ="2"}
                            },
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>
                            <div class="row">

                                <button class="btn btn-success" style="width: 100%">Registrar Usuario</button>

                                @*        <div class="col">
                                    <a asp-controller="Usuario" asp-action="LogIn">¿Ya tiene una cuenta?</a>
                                    </div>*@
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>
